<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @sales_representative.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @sales_representative.last_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @sales_representative.middle_name %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @sales_representative.experience %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @sales_representative.ssn %>
</p>

<p>
  <strong>City:</strong>
  <%= @sales_representative.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @sales_representative.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @sales_representative.state %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @sales_representative.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sales_representative.email %>
</p>

<%= link_to 'Edit', edit_sales_representative_path(@sales_representative) %> |
<%= link_to 'Back', sales_representatives_path %>
